{% extends "base.html" %} {% block content %}
<section class="about">
    <img src="https://stefanco.de/images/me.webp" />

    <h1>Stefan Kühnel</h1>

    <p>Entwickler und Designer in München, Deutschland</p>

    <address>
        Schachenmeierstraße 23<br />
        80636 München<br />
        Deutschland
    </address>

    <br />

    <div class="link">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <title>Link</title>
            <path d="M208 352h-64a96 96 0 010-192h64M304 160h64a96 96 0 010 192h-64M163.29 256h187.42" fill="none"
                stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="36" />
        </svg>
        <a href="https://stefanco.de" target="_blank" rel="noopener noreferrer">
            https://stefanco.de
        </a>
    </div>

    <div class="email">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <title>Mail Open</title>
            <path
                d="M441.6 171.61L266.87 85.37a24.57 24.57 0 00-21.74 0L70.4 171.61A40 40 0 0048 207.39V392c0 22.09 18.14 40 40.52 40h335c22.38 0 40.52-17.91 40.52-40V207.39a40 40 0 00-22.44-35.78z"
                fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" />
            <path d="M397.33 368L268.07 267.46a24 24 0 00-29.47 0L109.33 368M309.33 295l136-103M61.33 192l139 105"
                fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" />
        </svg>
        <a href="mailto:cv@stefanco.de" target="_blank" rel="noopener noreferrer">
            cv@stefanco.de
        </a>
    </div>

    <br />
</section>

<section>
    <h2>Akademische Laufbahn</h2>
    <table>
        <tr>
            <td>
                <p>03/2021 – heute</p>
            </td>
            <td>
                <p><strong>Bachelor of Science in Informatik</strong></p>
                <p>IU Internationale Hochschule</p>
                <p><strong>Note:</strong> 1,1</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>10/2019 – 03/2021</p>
            </td>
            <td>
                <p><strong>Bachelor of Science in Informatik</strong></p>
                <p>Hochschule für angewandte Wissenschaften München</p>
                <p><strong>Note:</strong> 1,4 (54 ECTS)</p>
                <br />
                <p><u>Ausgewählte Kurse:</u></p>
                <p>
                    Software Engineering I (1,0); Wahrscheinlichkeitsrechnung und
                    Statistik (1,0); Angewandte Mathematik (1,2); Differentialrechnung im
                    R<sup style="font-size: 8pt">n</sup>
                    und Differentialgleichungen (1,7)
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>07/2016 – 10/2019</p>
            </td>
            <td>
                <p><strong>Allgemeine Hochschulreife</strong></p>
                <p>Therese-von-Bayern Fachoberschule (Wirtschaft)</p>
                <p><strong>Note:</strong> 2,1</p>
            </td>
        </tr>
    </table>

    <br />
</section>

<section>
    <h2>Berufliche Laufbahn</h2>
    <table>
        <tr>
            <td>
                <p>02/2017 – 05/2017</p>
                <p><strong>Syzygy AG</strong></p>
                <p>vorher Catbird Seat GmbH</p>
            </td>
            <td>
                <p>
                    <strong>Praktikant</strong> – Entwurf von Dashboard-Prototypen zur
                    Visualisierung von KPIs aus Google Analytics (Adobe XD); Erstellung
                    von Marketingbannern für ein großes industrielles Unternehmen (Adobe
                    InDesign); Gestaltung hochwertiger Marketingpräsentationen
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>09/2016 – 01/2017</p>
                <p><strong>Ryte GmbH</strong></p>
                <p>vorher OnPage.org GmbH</p>
            </td>
            <td>
                <p>
                    <strong>Praktikant (Business Development/CRM)</strong> – Unterstützung
                    des Sales Teams bei der Identifikation potenzieller
                    DAX/MDAX-Unternehmen für Pro- und Business Verträge (SugarCRM);
                    Einbringung von Vorkenntnissen aus der Front-End-Entwicklung in eine
                    Recherche zu konkurrierenden SEO-Produkten; Behebung von Layout-Bugs
                    durch Bearbeitung von Vorlagen im Help Center (Zendesk)
                </p>
            </td>
        </tr>
    </table>

    <br />
</section>

<section>
    <h2>Programmiererfahrung</h2>

    <table>
        <tr>
            <td>
                <p>03/2021 – 05/2021</p>
            </td>
            <td>
                <p>
                    <strong>LaTeX API</strong> – Entwicklung eines Converters zur
                    Umwandlung von LaTeX-Gleichungen in verschiedene pixel- oder
                    vektorbasierte Grafikformate zur Einbettung auf Plattformen ohne
                    MathJax Unterstützung.
                </p>
                <ul>
                    <li>
                        <div>
                            URL:
                            <a target="_blank" rel="noopener noreferrer"
                                href="https://latex.userstatic.com">https://latex.userstatic.com</a>
                        </div>
                    </li>
                    <li>
                        <div>
                            Stack: JavaScript (Next.js)
                        </div>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <p>10/2020 – 01/2021</p>
                <p><strong>Alzheimer Gesellschaft München e.V.</strong></p>
            </td>
            <td>
                <p>
                    <strong>Projekt Adjuvant</strong> – Entwicklung eines Alexa-Skills in
                    einem agilen Team (Scrum), der Patienten mit Demenz bei der Erinnerung
                    an wichtige Termine oder der Berechnung effizienter Routen
                    unterstützt.
                </p>
                <ul>
                    <li>
                        <div>
                            GitHub:
                            <a target="_blank" rel="noopener noreferrer"
                                href="https://github.com/projekt-adjuvant">https://github.com/projekt-adjuvant</a>
                        </div>
                    </li>
                    <li>
                        <div>
                            Stack: Java (JUnit, Mockito, Jacoco, Checkstyle, Gson), AWS
                            S3/Lambda/Dynamo DB, Gitlab CI/CD, SonarCube
                        </div>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <p>05/2020 – 06/2020</p>
            </td>
            <td>
                <p>
                    <strong>Google PageRank</strong> – Replikation des Google
                    PageRank-Algorithmus in SageMath, der die Anzahl und Qualität der
                    Links zu einer Seite zählt, um eine grobe Einschätzung der Relevanz
                    der Seite zu ermitteln.
                </p>
                <ul>
                    <li>
                        <div>
                            URL:
                            <a target="_blank" rel="noopener noreferrer"
                                href="https://stefanco.de/jupyter/pagerank.html">https://stefanco.de/jupyter/pagerank.html</a>
                        </div>
                    </li>
                    <li>
                        <div>
                            Stack: Python (SageMath)
                        </div>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <p>04/2020 – 05/2020</p>
            </td>
            <td>
                <p>
                    <strong>Geospatiale Sonnenuhr</strong> – Implementierung einer
                    Sonnenuhr in SageMath, die aus gegebenen geographischen Koordinaten
                    ein ortsabhängiges Zifferblatt erzeugt.
                </p>
                <ul>
                    <li>
                        <div>
                            URL:
                            <a target="_blank" rel="noopener noreferrer"
                                href="https://stefanco.de/jupyter/sonnenuhr.html">https://stefanco.de/jupyter/sonnenuhr.html</a>
                        </div>
                    </li>
                    <li>
                        <div>
                            Stack: Python (SageMath)
                        </div>
                    </li>
                </ul>
            </td>
        </tr>
    </table>

    <br />
</section>
<section>
    <h2>Skills</h2>
    <table>
        <tr>
            <td>
                <p>Programmiersprachen</p>
            </td>
            <td>
                <p>Python (SageMath), PHP, Java, C#, Go</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Web Entwicklung</p>
            </td>
            <td>
                <p>HTML, CSS, JavaScript/TypeScript, GraphQL</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Bibliotheken & Frameworks</p>
            </td>
            <td>
                <p>Next.js, Gatsby.js, Tailwind CSS, Jakarta EE, Zola</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>DevOps & Werkzeuge</p>
            </td>
            <td>
                <p>
                    GitHub Actions, Semantic Release, ESLint, Prettier, Jest, JUnit,
                    Checkstyle, Jacoco
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Cloud Computing</p>
            </td>
            <td>
                <p>Vercel, Netlify, Deta Space, AWS (S3, Lambda, Dynamo DB)</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Sonstiges</p>
            </td>
            <td>
                <p>
                    Microsoft Office (PowerPoint, Excel, Word), WeasyPrint, Debian,
                    Ubuntu, Bash
                </p>
            </td>
        </tr>
    </table>
</section>
{% endblock content %}
